= simple_form_for @page, url: page_path(ids: (@page.new_record? ? @parent_page : @page).try(:self_and_ancestors).to_a), wrapper: :horizontal_form do |f|
  = f.error_notification

  = f.input :title
  = f.input :slug if @page.new_record?
  = f.input :source_text, as: :text, label: Page.human_attribute_name(:text)

  = f.submit