- each_nested_page_with_stack(local_assigns[:root_page]) do |page, stack, shift|
  .row class='list-group-item' style="margin-left: #{30 * shift}px;"
    = page.title
    = link_to t('helpers.links.show'), page_path(ids: stack), class: 'btn btn-sm btn-primary pull-right'