- cache [:index, :pages, Page.last_update_date.try(:to_i)] do
  dl.dl-horizontal.left
    dt
      = t('helpers.actions')
    dd
      = link_to t('helpers.links.add'), new_page_path, class: 'btn btn-sm btn-primary'

  = render partial: 'nested_set'