- cache [:show, @page] do
  dl.dl-horizontal.left
    dt
      = t('helpers.actions')
    dd
      = link_to t('helpers.links.add'), new_page_path(ids: @page.try(:self_and_ancestors).to_a), class: 'btn btn-sm btn-primary'
      | &nbsp;
      = link_to t('helpers.links.edit'), edit_page_path(ids: @page.self_and_ancestors.to_a), class: 'btn btn-sm btn-primary'
  dl.dl-horizontal.left
    dt
      = Page.human_attribute_name(:title)
    dd
      = @page.title
  dl.dl-horizontal.left
    dt
      = Page.human_attribute_name(:slug)
    dd
      = @page.slug
  dl.dl-horizontal.left
    dt
      = Page.human_attribute_name(:text)
    dd
      = @page.text.html_safe

  = render partial: 'nested_set', locals: { root_page: @page }