doctype html
html lang='en'
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    title
      = content_for?(:title) ? yield(:title) : 'PagesHierarchy'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

  body
    .navbar.navbar-default.navbar-static-top
      .container
        = link_to 'PagesHierarchy', root_path, class: 'navbar-brand'

    .container
      .row.bottom-25
        .col-lg-12
          h2
            = yield(:page_header)
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
